beautifulsoup4==4.12.2
certifi==2023.5.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.1.0
cryptography==40.0.2
currencylayer==1.0
dbf-light==1.0.0
fixerio==0.1.1
idna==3.4
lxml==4.9.2
pycbrf==1.1.0
pycparser==2.21
PyMySQL==1.0.3
python-dotenv==1.0.0
requests==2.31.0
soupsieve==2.4.1
urllib3==2.0.2

